
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    background-color: #fff;
}
.slide-custom {
    min-height:200px;
    padding:20px;
    line-height:30px;
}

h1, h2 {
    color: #000;
}
h4 {
    line-height:30px;
    color: #000;
}
h4 i{
   padding:5px;
}
.pad-top {
     padding-top:80px;
}
#carousel-example {
    margin-top:10px;

}

.text-center {
    text-align:center;
}

.user-img {
border: 2px solid #fff;
overflow: hidden;
border-radius: 50%;
display: inline-block;
}

.img-u {
   max-height: 90px;
max-width: 90px;
}

.c-black {
    color:#000;
    font-style: italic;
font-size: 20px;
padding: 5px;
}
