/nbproject/private/
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/nbproject/project.properties
/nbproject/project.xml
/build/
/dist/
/LicitacoesWeb/nbproject/private/
/LicitacoesWeb/build/
/WebStreaming/nbproject/private/
/WebStreaming/build/
/WebStreaming/dist/
