<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>br.com.ecommerce.core.impl.controller.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/JSP/Cliente/ExcluirMensagemFront</url-pattern>
        <url-pattern>/JSP/Cliente/SalvarCliente</url-pattern>
        <url-pattern>/JSP/Cliente/DesativarPedido</url-pattern>
        <url-pattern>/JSP/Cliente/ResponderMensagem</url-pattern>
        <url-pattern>/JSP/Cliente/AtualizaCartao</url-pattern>
        <url-pattern>/JSP/PrestadorServico/AtualizarPrestador</url-pattern>
        <url-pattern>/JSP/PrestadorServico/ExcluirMensagem</url-pattern>
        <url-pattern>/JSP/PrestadorServico/ExcluirMensagemFront</url-pattern>
        <url-pattern>/JSP/PrestadorServico/Candidaturas</url-pattern>
        <url-pattern>/JSP/Cliente/AtualizarCliente</url-pattern>
        <url-pattern>/JSP/PrestadorServico/Consultorias</url-pattern>
        <url-pattern>/JSP/Cliente/EnviarMensagem</url-pattern>
        <url-pattern>/JSP/PrestadorServico/Mural</url-pattern>
        <url-pattern>/JSP/Cliente/AtualizarPedido</url-pattern>
        <url-pattern>/JSP/Cliente/MeusPedidos</url-pattern>
        <url-pattern>/JSP/PrestadorServico/EnviarMensagem</url-pattern>
        <url-pattern>/JSP/Cliente/SalvarPedido</url-pattern>
        <url-pattern>/JSP/PrestadorServico/ResponderMensagem</url-pattern>
        <url-pattern>/JSP/PrestadorServico/SalvarPrestador</url-pattern>
        <url-pattern>/JSP/Cliente/SalvarTransacao</url-pattern>
        <url-pattern>/JSP/Cliente/ExcluirMensagem</url-pattern>
        <url-pattern>/JSP/PrestadorServico/NotifySalvar</url-pattern>
        <url-pattern>/JSP/Cliente/NotifySalvar</url-pattern>
        <url-pattern>/JSP/Cliente/NotifyAtualizar</url-pattern>
        <url-pattern>/JSP/PrestadorServico/NotifyAtualizar</url-pattern>
        <url-pattern>/JSP/Cliente/NotifyConsultar</url-pattern>
        <url-pattern>/JSP/PrestadorServico/NotifyConsultar</url-pattern>
        <url-pattern>/JSP/HeadHunter/SalvarHeadHunter</url-pattern>
        <url-pattern>/JSP/HeadHunter/AtualizarHeadHunter</url-pattern>
        <url-pattern>/JSP/HeadHunter/Ranking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
